:root {
  font-size: 10px;

  font-family: 'Montserrat', sans-serif;

  --bg-color-primary: #292929;
  --bg-color-secondary: #1e1e1e;
  --bg-color-tertiary: #252526;

  --font-primary-color: #fafafa;

  --a-component-color: red;
  --b-component-color: blue;
  --c-component-color: green;
  --d-component-color: purple;

  --bar-transition: all 250ms ease;
  --after-bar-transition: all 250ms 200ms ease;
}

*,
body,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 0.1rem;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;

  overflow: hidden;

  display: flex;
}

.container .settings-bar {
  height: 100%;
  width: 30rem;

  background: var(--bg-color-secondary);

  transition: var(--bar-transition);
}

.container .settings-bar.shortened {
  width: 3rem;
}

.container .settings-bar .actions-container {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 0 1rem;

  border-bottom: 1px solid var(--bg-color-primary);
}

.container .settings-bar.shortened .actions-container {
  justify-content: center;

  padding: 0;
}

.container .settings-bar .actions-container i {
  color: var(--font-primary-color);
  cursor: pointer;
}

.container .settings-bar.shortened .actions-container i {
  transform: rotate(180deg);
}

.container .settings-bar .settings-bar-content-container {
  display: flex;
  flex-direction: column;

  padding: 0 1rem;

  transition: var(--bar-transition);
}

.container .settings-bar.shortened .settings-bar-content-container {
  padding: 0;
}

.container .settings-bar .settings-bar-content-container > header {
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--font-primary-color);

  overflow: hidden;

  transition: var(--after-bar-transition);
}

.container .settings-bar.shortened .settings-bar-content-container > header {
  height: 0;
}

.container .settings-bar .settings-bar-content-container section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container .center {
  background: var(--bg-color-primary);
  height: 100%;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: auto;
}

.container .center::-webkit-scrollbar-thumb {
  background: var(--bg-color-secondary);
  border-radius: 0.4rem;
}

.container .center::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

.container .center .stage {
  display: grid;

  background: var(--bg-color-tertiary);
}

.component-label {
  width: 28rem;
  height: 3rem;

  cursor: all-scroll;

  color: var(--font-primary-color);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 200ms ease;
}

.container .settings-bar.shortened .component-label {
  width: 3rem;
}

.component-label:hover {
  opacity: 0.8;
}

.component-label.a, .component.a {
  background: var(--a-component-color);
}

.component-label.b, .component.b {
  background: var(--b-component-color);
}

.component-label.c, .component.c {
  background: var(--c-component-color);
}
.component-label.d, .component.d {
  background: var(--d-component-color);
}

.component {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--font-primary-color);
  border: 1px solid var(--bg-color-secondary)
}

.component h1 {
  text-transform: uppercase;

}